<section name="footer">
  <div class="left span6">
    <ul class="nav">
      <li><%= link_to  "<span class='left'>首页</span>".html_safe, root_path, class: "icon-home", "data-icon": "home" %></li>
      <li><%= link_to  "<span class='left'>服务</span>".html_safe, root_path, class: "icon-user_tie", "data-icon": "user_tie" %></li>
      <!--<li><%= link_to  "<span class='left'>案例</span>".html_safe, root_path, class: "icon-file_text", "data-icon": "file_text" %></li>-->
      <li><%= link_to  "<span class='left'>加入我们</span>".html_safe, root_path, class: "icon-users", "data-icon": "users" %></li>
      <li><%= link_to  "<span class='left'>关于ESTEN</span>".html_safe, root_path, class: "icon-info", "data-icon": "info" %></li>
    </ul>
  </div>
  <div class="left span6">
    <ul class="contact">
      <li><span>文艺路19号地王国际大厦</span></li>
      <li><span>&nbsp;&nbsp;|&nbsp;&nbsp;沈阳市 110011</span></li>
      <!--<li><span>&nbsp;&nbsp;|&nbsp;&nbsp;13840919802</span></li>-->
    </ul>
  </div>
  <div class="clear"></div>
</section>