<div class="banner">
	<div class="logo left"></div>
	<div class="title left">
		<h1>沈阳亿斯腾科技咨询服务有限公司</h1>
		<h4>Esten Technology & Consulting Services Co., Ltd.</h4>
	</div>
	<ul class="nav right">
		<li><%= link_to  "<span class='left'>首页</span>".html_safe, root_path, class: "icon-home", "data-icon": "home" %></li>
		<li><%= link_to  "<span class='left'>服务</span>".html_safe, root_path, class: "icon-user-tie", "data-icon": "user-tie" %></li>
		<li><%= link_to  "<span class='left'>案例</span>".html_safe, root_path, class: "icon-file-text", "data-icon": "file-text" %></li>
		<li><%= link_to  "<span class='left'>加入我们</span>".html_safe, root_path, class: "icon-users", "data-icon": "users" %></li>
		<li><%= link_to  "<span class='left'>关于ESTEN</span>".html_safe, root_path, class: "icon-info", "data-icon": "info" %></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="main-body">
	<section name="home">
		<div class="slogan">
			<h1>科技造福人类、创造未来</h1>
		</div>
	</section>
</div>
